
<div class="conatiner d-flex justify-content-center">

    <div class="card">
        <!-- Tabs -->
        <div class="card-header">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/register">Register</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/sendemail">Olvidé mi contraseña</a>
                </li> -->
            </ul>

        </div>
        <!-- Formulario -->
        <div class="card-body">

            <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

                <!-- For name -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name" required>
                </div>

                <!-- For email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" [(ngModel)]="email" required>
                </div>


                <!-- Para el name de usuario -->
                <div class="form-group">
                    <label for="username">name de Usuario</label>
                    <input type="text" name="username" id="username" class="form-control"
                        [(ngModel)]="username" required>
                </div>


                <!-- Para la contrasena -->
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                        required>
                </div>

                <!-- Para los botones -->
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        Register
                    </button>
                </div>
            </form>

            <!-- Para el error -->
            <!-- Solo uso toastr -->
        </div>
    </div>

</div>