
<div class="conatiner d-flex justify-content-center">
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/sendemail">Olvidé mi contraseña</a>
                </li> -->
    <div class="card">
        <!-- Tabs -->
        <div class="card-header">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/register">Register</a>
                </li>

            </ul>

        </div>
        
        <!-- Formulario -->
        <div class="card-body">

            <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

                <!-- For name -->
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="firstName" required>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="lastName" required>
                </div>

                <div class="form-group">
                    <label for="surName">Sur Name</label>
                    <input type="text" name="surName" id="surName" class="form-control" [(ngModel)]="surName" required>
                </div>

                <!-- For communication -->
                <div class="form-group">
                    <label for="dni">Dni</label>
                    <input type="text" name="dni" id="dni" class="form-control" [(ngModel)]="dni" required>
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="phone" required>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" class="form-control" [(ngModel)]="address" required>
                </div>


                <!-- Auth names -->

                <!-- username-->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control"
                        [(ngModel)]="username" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" [(ngModel)]="email" required>
                </div>

                <!-- Para la contrasena -->
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                        required>
                </div>

                <!-- Para los botones -->
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>