<ul class="list-group w-75 mx-auto justify-content-center">
    <li 
        routerLink="/list-searches"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="list-group-item">
        <i class="fa-solid fa-list"></i> Searchs</li>
        
    <li 
        routerLink="/create-search"
        routerLinkActive="active"
        class="list-group-item">
        <i class="fa-solid fa-plus"></i> Create search</li>

    <li 
        routerLink="/my-searches"
        routerLinkActive="active"
        class="list-group-item">
        <i class="fa-solid fa-magnifying-glass"></i> My searches</li>
