<div class="row">

    <div class="col-3" style="border-style: none;">
        <app-sidebar-pet></app-sidebar-pet>
    </div>

    <div class="col-9" style="border-style: none;">
        <div class="container">
            <h1>My pets</h1>
        </div>

        <div class="container my-5" *ngIf="myPets.length == 0">
            <p>You don't have any pet, register one!</p>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-auto mx-1 my-5" *ngFor="let card of myPets">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="this.domSanitizer.bypassSecurityTrustResourceUrl('data:image/*;base64,' + card.encoded)" alt="stage1a">
                        <div class="card-body">
                            <h5 class="card-title">
                                <h4>{{card.name}}</h4>
                            </h5>
                            <p class="card-text">
                                {{card.species}}
                            </p>
                            <p class="card-text">
                                {{card.breed}}
                            </p>
                            <button class="btn btn-primary btn-block" (click)="viewDetails(card.id)">Details</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>