<div class="row">
    <div class="col-3">
        <app-sidebar-pet></app-sidebar-pet>
    </div>
    <div class="col-9" style="border-style: none;">
        <div class="container">
            <h1>Register pet</h1>
        </div>

        <div class="container">

            <form (ngSubmit)="registerPet()" novalidate #f="ngForm">

                <div class="row">
                    <!-- First column -->
                    <div class="col">
                        <div class="form-group my-3">
                            <label for="title" class="my-2">Name</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter name"
                                [(ngModel)]="name" required>
                        </div>


                        <div class="form-group my-3">
                            <label for="species" class="my-2">Species: </label>
                            <select class="form-control" name="species" id="species" [(ngModel)]="species"
                                (ngModelChange)="onChangeSpecies($event)" 
                                [ngModelOptions]="{standalone: true}" required>

                                <option *ngFor="let option of listSpecies" [value]="option" [selected]="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group my-3">
                            <label for="species" class="my-2">Size: </label>
                            <select class="form-control" name="size" id="size" [(ngModel)]="size"
                                [ngModelOptions]="{standalone: true}" required>

                                <option *ngFor="let option of listSizes" [value]="option" [selected]="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>


                        <div class="form-group my-3" id="datetimepicker">
                            <label for="bdate" class="my-2">Birth date</label>
                            <input type="date" class="form-control" id="bdate" 
                            name="bdate" [(ngModel)]="bdate" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>




                    <!-- Second column -->
                    <div class="col">

                        <div class="form-group my-3">
                            <label for="colour" class="my-2">Colour</label>
                            <input type="text" class="form-control" id="colour" name="colour" placeholder="Enter colour"
                                [(ngModel)]="colour" required>
                        </div>

                        <!-- div for breed by species -->
                        <div class="form-group my-3">
                            <label for="breed" class="my-2">Breed: </label>
                            <select class="form-control" name="breed" id="breed" 
                                [(ngModel)]="breed"
                                [ngModelOptions]="{standalone: true}" 
                                required>

                                <option *ngFor="let option of listBreeds" [value]="option" [selected]="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>


                        <!-- div for gender-->
                        <div class="form-group my-3">
                            <label for="gender" class="my-2">Gender: </label>
                            <select class="form-control" name="gender" id="gender" [(ngModel)]="gender"
                                [ngModelOptions]="{standalone: true}" required>

                                <option *ngFor="let option of listGender" [value]="option" [selected]="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>


                        <div class="form-group my-3">
                            <label for="characteristic" class="my-2">Characteristic</label>
                            <input type="text" class="form-control" id="characteristic" name="characteristic"
                                placeholder="Enter characteristic" [(ngModel)]="characteristic" required>
                        </div>

                        <!-- <div class="form-group my-3">
                            <label for="description" class="my-2">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"
                                placeholder="Enter description" [(ngModel)]="description"></textarea>
                        </div> -->
                    </div>

                    <div class="row" style="border: none;">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <div class="custom-file mx-0">
                            <input type="file" (change)="readUrl($event);" 
                            class="custom-file-input my-3 mx-0"
                            id="customFile" style="border: none"
                            required>
                        </div>
                    </div>

                    <div class="row py-3" style="border: none;">
                        <div class="container" style="border: none;">
                            <!-- <img class="img-fluid float-right" src="./assets/pet_default2.png " alt=""> -->
                            <img class="img-fluid float-right" [src]="imgSrc || './assets/pet_default2.png' " alt="">
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary mt-3 mb-3" [disabled]="!f.valid">Register</button>
            </form>


            <!-- <button class="btn btn-warning mt-3 mb-3" (click)="seeDate()">IMAGE TEST</button> -->

        </div>




    </div>


</div>