<div class="row">

    <div class="col-md-3">
        <app-sidebar-search></app-sidebar-search>
    </div>

    <div class="col-md-9">
        <div class="container">
            <h1>Detail search #098883</h1>
        </div>


        <div class="container-fluid">

            <form novalidate #f="ngForm">

                <!-- for main picture -->
                <div class="row my-4">
                    <div class="col" align="left" style="border: none;">
                        <div class="container" style="border: none;">
                            <img class="img-fluid float-right"
                                [src]="this.domSanitizer.bypassSecurityTrustResourceUrl('data:image/*;base64,' + currentSearch.encoded) || './assets/pet_default_gray3.png' "
                                alt="">
                        </div>
                    </div>
                </div>
                <!-- for secondary photo is they exist -->
                <!-- <div class="row"></div> -->

                <div class="row my-4">
                    <!-- FIRST COLUMN -->
                    <div class="col-md" style="border: none;">
                        <!-- PET NAME -->

                        <div class="card">
                            <div class="card-body text-bg-light">

                                <div class="form-group my-3">
                                    <p>Name: <span class="text-secondary">{{currentSearch.namePet}}</span></p>
                                </div>

                                <!-- SEARCH DISTRICT -->
                                <div class="form-group my-3">
                                    <p>District: <span class="text-secondary">{{currentSearch.district}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- SECOND COLUMN -->
                    <div class="col-md" style="border: none;">

                        <div class="card">
                            <div class="card-body text-bg-light">
                                <!-- SEARCH ADDRESS -->
                                <div class="form-group my-3">
                                    <p>Address: <span class="text-secondary">{{currentSearch.address}}</span></p>
                                </div>

                                <!-- SEARCH LOST DATE -->
                                <div class="form-group my-3">
                                    <p>Lost date: <span class="text-secondary">{{currentSearch.lostDate}}</span></p>
                                </div>

                                <!-- SEARCH PHONE A -->
                                <div class="form-group my-3">
                                    <p>Phone A: <span class="text-secondary">{{currentSearch.phoneA}}</span></p>
                                </div>

                                <!-- SEARCH PHONE B -->
                                <div class="form-group my-3">
                                    <p>Phone B: <span class="text-secondary">{{currentSearch.phoneB}}</span></p>
                                </div>

                                <!-- SEARCH LOST DATE -->
                                <div class="form-group my-3">
                                    <p>Message: <span class="text-secondary">{{currentSearch.message}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- For buttons -->
                <div class="row my-4">
                    <div class="col" align="center">
                        <button class="btn btn-primary">Return</button>
                    </div>
                    <div class="col" align="center">
                        <button class="btn btn-light">Contact</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>