img{
    /* width: 260px; 
    height: 300px; 
    border-radius: 0%; */

    width:100%;
    height: auto;
    overflow:hidden;
    border-radius: 5%;

}

/* 
#bdate{
    cursor: pointer;
} */

.input-group-addon{
    cursor: pointer;
}

.glyphicon glyphicon-calendar{
    cursor: pointer;
}

/* .modal-backdrop { display:none; } */